table{
    display: flex;
    justify-content: center;
    background-color: rgb(78, 78, 139);
    margin-top: 30px;

}

input{
    height: 150px;
    width: 150px;
    justify-items: center;
}
#a{
    width: 400px;
    
}
body{
    background-color: rgb(78, 78, 139); ;
}